/* [] Styles for Page */

html,
body {
	height: 100%;
}

h1 {
	color: red;
	font: bold 2.9rem Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	place-items: center;
	background-color: #2e3840;
}

a {
	text-decoration: none;
	color: #f9dbbb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
}
