@import "mobile.css";

/* [] Styles for Page */
* {
	margin: 0;
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: var(--gray);
}
::-webkit-scrollbar-thumb {
	background: var(--black);
	border-radius: 2.4rem;
}

html,
body {
	--black: hsl(240, 6%, 13%);
	--black-100: hsl(240, 6%, 0%);
	--gray: hsl(240, 9%, 89%);

	--yellow: hsl(47, 100%, 56%);
	--orange: hsl(23, 100%, 58%);

	height: 100%;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

body {
	display: grid;
	place-items: center;
	background-color: var(--black);
}

main {
	background: url("./../assets/background.svg") no-repeat center/cover;
	width: 100vw;
	height: 100vh;
	min-height: 812px;
}

.container {
	max-width: 250px;
	margin-inline: auto;
	text-align: center;

	color: var(--gray);
}

h1 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

a {
	color: var(--gray);

	margin-top: 0.25rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
}

p {
	margin-top: 2rem;
}

footer {
	display: flex;
	font-size: 1.3rem;
	font-weight: 500;
	color: var(--gray);
	margin-bottom: 2rem;
}
